.img-size {
  width: 100%;
}
.img-logo {
  max-height: 200px;
  max-width: 130px;
}
.title-location {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: lightgray;
}