.content {
  align-items: center;
}
.wrapper p {
  text-align: justify;
}
.img-size {
  max-width: 70%;
  max-height: 70vh;
}
.image-position {
  display: flex;
  max-width: 50%;
  justify-content: center;
}